section.body-section#enable
  a.js-display-content.is-mobile.chevron
    h1.body-section-title How To Enable
  .body-section-content.js-section-content.closed
    .intro-text.center-gutter-formatter
      h1.body-section-title.is-desktop.top-margin How to Enable
      p Enable Artsy by saying "Alexa, Enable Artsy" or in the Skills section of your Alexa app.

section.body-section#artists
  a.js-display-content.is-mobile.chevron
    h1.body-section-title Learn About Artists
  .body-section-content.js-section-content.closed
    .intro-text.center-gutter-formatter
      h1.body-section-title.is-desktop.top-margin Learn More About Artists
      p Alexa, ask Artsy about Andy Warhol.
      p Alexa, ask Artsy about Norman Rockwell.
      p Alexa, ask Artsy about Pablo Picasso.

section.body-section#shows
  a.js-display-content.is-mobile.chevron
    h1.body-section-title Recommended Shows
  .body-section-content.js-section-content.closed
    .intro-text.center-gutter-formatter
      h1.body-section-title.is-desktop.top-margin Get Recommended Shows Near You
      p Alexa, ask Artsy to recommend a show in Brooklyn.
      p Alexa, ask Artsy for a show around Manhattan.
      p Alexa, ask Artsy for a current show in Brooklyn.

section.body-section#podcasts
  a.js-display-content.is-mobile.chevron
    h1.body-section-title Artsy Podcasts
  .body-section-content.js-section-content.closed
    .intro-text.center-gutter-formatter
      h1.body-section-title.is-desktop.top-margin Play Artsy Podcasts
      p Alexa, ask Artsy to play podcast number 13.
      p Alexa, ask Artsy to play the latest podcast.
      p Alexa, ask Artsy for a summary of podcast 13.
      p Alexa, ask Artsy for a summary of the latest podcast.

section.body-section#open-source
  a.js-display-content.is-mobile.chevron
    h1.body-section-title Open-Source
  .body-section-content.js-section-content.closed
    .intro-text.center-gutter-formatter
      h1.body-section-title.is-desktop.top-margin Open-Source
      p The Artsy Alexa skill is open-source and is written in Node.js.
      p More information on Github at <a href="https://github.com/artsy/elderfield" target="_blank">github.com/artsy/elderfield</a>.
      p <a href="https://github.com/artsy/elderfield/issues/new" target="_blank">Suggest a feature!</a>
